.row
  .col-xs-12
    h3 Priorities

.row
  .col-xs-4
    form(novalidate, name='prioritiesForm', role='form')
      .form-group
        label(for='name') Name
        input.form-control#name(name='name', type='text', ng-model='priority.name', ng-minlength='3', required)
      .form-group
        label(for='color') Color
        input.form-control#color(name='color', type='color', ng-model='priority.color', required)
      .form-group
        button.btn.btn-success(ng-show='prioritiesForm.$valid', ng-click='add()') Add Priority
  .col-xs-8
.row
  .col-xs-4
    .panel.panel-default
      .panel-body
        .radio
          label
            input(name='sort', type='radio', ng-model='sort', value='name')
            span Ascending
        .radio
          label
            input(name='sort', type='radio', ng-model='sort', value='-name')
            span Desscending
        table.table.table-bodered.table-hover
          thead
            tr
              th Name
              th Color
          tbody
            tr(ng-repeat='p in priorities | orderBy: sort', ng-style='{"background-color":p.color}')
              td {{p.name}}
              td {{p.color}}
